body{
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
}


.FirstIndexStyle{
    margin-left: 35rem;
    margin-right: 40rem;
    margin-top: 5rem; 
    border-color: red; 
    color: whitesmoke; 
    align-content: center;

}
.IndexStyle{
    margin-left: 35rem;
    margin-right: 40rem;
    margin-top: 10rem; 
    border-color: red; 
    color: whitesmoke; 
    align-content: center;

}
.LastIndexStyle{
    margin-left: 35rem;
    margin-right: 40rem;
    margin-top: 10rem; 
    margin-bottom: 10rem; 
    border-color: red; 
    color: whitesmoke; 
    align-content: center;

}
